In [4]:
import time

In [10]:
initial_time = time.time()

order = 'Вода'

if order == 'Кофе':
    print('С Вас 150 рублей.')
elif order == 'Чай': 
    print('С Вас 100 рублей.')
elif order == 'Вода':
    print('С Вас 50 рублей.')
else:
    print('Данного напитка нет.')
    
total_time = time.time() - initial_time

print(total_time)

С Вас 50 рублей.
0.0003597736358642578

In [11]:
initial_time = time.time()

order = 'Вода'

if order == 'Кофе':
    print('С Вас 150 рублей.')
if order == 'Чай': 
    print('С Вас 100 рублей.')
if order == 'Вода':
    print('С Вас 50 рублей.')
else:
    print('Данного напитка нет.')
    
total_time = time.time() - initial_time

print(total_time)

С Вас 50 рублей.
0.0004019737243652344

# Список и кортеж

In [17]:
shopping_list = ['bread', 'milk', 'cheese'] #список (изменяемый тип данных)
print(shopping_list[0])
print(shopping_list[:2])
print(type(shopping_list))

bread
['bread', 'milk']
<class 'list'>

In [18]:
shopping_list[0] = 'apple' #вместо хлеба перезаписали на значение 'apple'
#tab для автодополнения
print(shopping_list)

['apple', 'milk', 'cheese']

In [19]:
#tuple
sh_list = ('bread', 'milk', 'cheese') #кортеж (неизменяемый тип данных)
print(sh_list[0])
print(sh_list[:2])
print(type(sh_list))

bread
('bread', 'milk')
<class 'tuple'>

In [22]:
sh_list[0] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [48]:
info = [3, 7.5, 'apple', True, [1, 2], (True, 'bread')] 
#эл-ами списка могут быть любые типы данных

In [ ]:
empty_list = list()
empty_list = []

In [26]:
empty_list = list()

In [27]:
print('bread, milk, apple'.split(', '))
#метод split вызывается только у строк
#разделяет по заданному разделителю строку
#и сохраняет в список разделенные эл-ты

['bread', 'milk', 'apple']

In [29]:
info = input().split(',')
print(info)

1,2,3
['1', '2', '3']

In [34]:
info = input()
info = info.split(',')
print(info)

apple,bread,milk
['apple', 'bread', 'milk']

In [43]:
shopping_list = ['bread', 'milk', 'cheese']
print(shopping_list[0])
print(shopping_list[0][1])
print(shopping_list)
print(*shopping_list) #распаковка
print(*shopping_list, sep=', ')

bread
r
['bread', 'milk', 'cheese']
bread milk cheese
bread,   milk,   cheese

In [53]:
info

[3, 7.5, 'apple', True, [1, 2], (True, 'bread')]

In [55]:
print(*info)

3 7.5 apple True [1, 2] (True, 'bread')

In [57]:
info

[3, 7.5, 'apple', True, [1, 2], (True, 'bread')]

In [61]:
print(int('0004'))

4

In [67]:
months =    ["января" ,"февраля", 
            "марта", "апреля" ,"мая" ,
            "июня" , "июля", "августа", 
            "сентября", "октября", "ноября", 
            "декабря"] 
date = input().split('.')
month_num = int(date[1])
month_str = months[month_num-1]
#data_new = date[0] + ' ' + month_str + ' ' + date[2] + ' года'
print(date[0], month_str, date[2], 'года')

1.04.2017
1 апреля 2017 года

In [64]:
print(months[month_num-1])

апреля

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [71]:
for i in range(1, 11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [72]:
for i in range(1, 11, 2): #первый аргумент - начало диапазона (включая)
    print(i, end=' ')    #второй аргумент - конец диапазона (не включая)
                        #третий аргумент - шаг в диапазоне

1 3 5 7 9

In [76]:
for i in range(len(shopping_list)):
    print(i, end=' ')

0 1 2

In [80]:
sh_list

('bread', 'milk', 'cheese')

In [84]:
for elem in "Hello": #цикл for работает для последовательность 
    print(elem)

H
e
l
l
o

In [86]:
books = ['Harry Potter', 'Master and Margarita']
authors = ['J.K Rowling', 'Mikhail Bulgakov']

In [88]:
len(books)

2

In [89]:
books[2]

IndexError: list index out of range

In [ ]:
books = input().split(';')
price = input().split(',')

In [87]:
for i in range(len(books)):
    print(f'{books[i]} – {authors[i]}')

Harry Potter – J.K Rowling
Master and Margarita – Mikhail Bulgakov

In [91]:
print(range(5)) #функция генератор

range(0, 5)

In [92]:
for i in range(5):
    print(i)

0
1
2
3
4

In [95]:
i = 0
while i != 5:
    i += 1
    if i % 2 == 0:
        continue #возвращает в начало цикла
    print(i)

1
3
5

In [96]:
for i in range(6):
    if not i % 2 == 0:
        print(i)

1
3
5